<div><h2>Blogger </h2></div>
<p><%= @blogger.name %></p>

<div><h2>Details</h2></div>
<p><%= @blogger.bio %></p>
<p><%= @blogger.age %></p>

<div>The total likes on all of that blogger's posts</div>
<p><%=  @blogger.total_likes  %></p>

<div>A link to that blogger's featured post (the post with the most likes)</div>
<p><%=  link_to @the_post.title, post_path(@the_post)  %></p>

<div>BONUS A list of that user's top 5 most written about destinations (the destinations with the most posts)
</div>
<p><%=  @blogger_top_5_posts_destinations%></p>



