<h1>Your Post:</h1>

<h2>Title: <%= @post.title %></h2>
<h2>Content: <%= @post.content %></h2>


<%= link_to "This posts author", blogger_path(@post.blogger_id) %>
<%= link_to "This posts destination", destination_path(@post.destination_id) %>
<button><%= link_to "Like Post", like_post_path(@post) %></button>
