<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=link_to "| All bloggers", bloggers_path%>
  <%=link_to "| New blogger", new_blogger_path%>

  <%=link_to "| All destinations", destinations_path%>

  <%=link_to "| All posts", posts_path%>
  <%=link_to "| New post", new_post_path%>
    <%= yield %>
  </body>
</html>
